In [1]:
import pandas as pd
import numpy as np

In [2]:
df_geo=pd.read_csv('geo_params.csv')
df_geo.head()

   geoCluster  cityId
0          21       1
1          47       1
2          48       1
3          92       1
4         112       1

In [3]:
df_geo.dtypes

geoCluster    int64
cityId        int64
dtype: object

In [3]:
df_sku=pd.read_csv('sku_final.csv')
df_sku.head()

,SKU,productCategoryId,productCategory_caption_UKR,productCategory_caption_RU,productCategory_caption_ENG,productTypeId,productType_caption_UKR,productType_caption_RU,productType_caption_ENG,brandId,lagerUnitQuantity,lagerUnitTypeId,lagerUnitType_caption,trademark,countryOfOrigin,countryOfOrigin_caption,commodity_group,commodity_group_caption_UKR,commodity_group_caption_RU,commodity_group_caption_ENG
0,17,5416.0,Хурма,Хурма,Persimmon,4770.0,Тропічні фрукти - Хурма - Звичайна,Тропические фрукты - Хурма - Обычная,Tropical fruit — Persimmon — Plain,NaN,1.0,1,г,NaN,NaN,NaN,5551018,Фрукти тропічні,Фрукты тропические,Tropical fruits
1,18,5413.0,Фейхоа,Фейхоа,Feijoa,4772.0,Тропічні фрукти - Екзотичні,Тропические фрукты - Экзотические,Tropical fruit — Exotic,NaN,1.0,1,г,NaN,NaN,NaN,5551018,Фрукти тропічні,Фрукты тропические,Tropical fruits
2,24,5425.0,Гранат,Гранат,Pomegranate,4760.0,Тропічні фрукти - Гранат - Звичайний,Тропические фрукты - Гранат - Обычный,Tropical fruit — Pomegranate— Plain,NaN,1.0,1,г,NaN,NaN,NaN,5551018,Фрукти тропічні,Фрукты тропические,Tropical fruits
3,25,5431.0,Апельсин,Апельсин,Orange,4773.0,Цитрусові фрукти - Апельсин - Звичайний,Цитрусовые фрукты - Апельсин - Обычный,Citrus fruit — Orange — Plain,NaN,1.0,2,кг,NaN,8.0,Іспанія,5551018,Фрукти тропічні,Фрукты тропические,Tropical fruits
4,208,5835.0,Вода України газована,Вода Украины газированная,"Water, Ukraine, sparkling",3457.0,Лікувально-столова вода - Україна - ПЕТ - від ...,Лечебно-столовая вода - Украина - ПЭТ - от 1л ...,Therapeutic-table water — Ukraine — PET — from...,1241.0,1.5,3,л,3670.0,1.0,Україна,5550022,Вода Мфнеральна,Вода Минеральная,Mineral water

In [4]:
df_sku[['productCategoryId','productTypeId']]=df_sku[['productCategoryId','productTypeId']].apply(lambda x: x.astype(str))
df_sku.head()

,SKU,productCategoryId,productCategory_caption_UKR,productCategory_caption_RU,productCategory_caption_ENG,productTypeId,productType_caption_UKR,productType_caption_RU,productType_caption_ENG,brandId,lagerUnitQuantity,lagerUnitTypeId,lagerUnitType_caption,trademark,countryOfOrigin,countryOfOrigin_caption,commodity_group,commodity_group_caption_UKR,commodity_group_caption_RU,commodity_group_caption_ENG
0,17,5416.0,Хурма,Хурма,Persimmon,4770.0,Тропічні фрукти - Хурма - Звичайна,Тропические фрукты - Хурма - Обычная,Tropical fruit — Persimmon — Plain,NaN,1.0,1,г,NaN,NaN,NaN,5551018,Фрукти тропічні,Фрукты тропические,Tropical fruits
1,18,5413.0,Фейхоа,Фейхоа,Feijoa,4772.0,Тропічні фрукти - Екзотичні,Тропические фрукты - Экзотические,Tropical fruit — Exotic,NaN,1.0,1,г,NaN,NaN,NaN,5551018,Фрукти тропічні,Фрукты тропические,Tropical fruits
2,24,5425.0,Гранат,Гранат,Pomegranate,4760.0,Тропічні фрукти - Гранат - Звичайний,Тропические фрукты - Гранат - Обычный,Tropical fruit — Pomegranate— Plain,NaN,1.0,1,г,NaN,NaN,NaN,5551018,Фрукти тропічні,Фрукты тропические,Tropical fruits
3,25,5431.0,Апельсин,Апельсин,Orange,4773.0,Цитрусові фрукти - Апельсин - Звичайний,Цитрусовые фрукты - Апельсин - Обычный,Citrus fruit — Orange — Plain,NaN,1.0,2,кг,NaN,8.0,Іспанія,5551018,Фрукти тропічні,Фрукты тропические,Tropical fruits
4,208,5835.0,Вода України газована,Вода Украины газированная,"Water, Ukraine, sparkling",3457.0,Лікувально-столова вода - Україна - ПЕТ - від ...,Лечебно-столовая вода - Украина - ПЭТ - от 1л ...,Therapeutic-table water — Ukraine — PET — from...,1241.0,1.5,3,л,3670.0,1.0,Україна,5550022,Вода Мфнеральна,Вода Минеральная,Mineral water

In [5]:
df=pd.read_csv('train_final.csv')
df['date']=pd.to_datetime(df['date'])
df['sales'].fillna(0,inplace=True)
df.head()

           ID  geoCluster    SKU       date  price  sales
0  RR27956447          21  32485 2021-07-08  39.69    0.9
1  RR27956448          21  32485 2021-07-09    NaN    0.0
2  RR27956449          21  32485 2021-07-10    NaN    0.0
3  RR27956450          21  32485 2021-07-11    NaN    0.0
4  RR27956451          21  32485 2021-07-12    NaN    0.0

In [8]:
# df_valid=df[df.date>= pd.to_datetime('2021-06-19')].copy()
# df=df[df.date< pd.to_datetime('2021-06-19')]

# df['sales'].fillna(0,inplace=True)
# df_valid['sales'].fillna(0,inplace=True)

# print('train',df.shape)
# print('valid',df_valid.shape)

train (24476696, 6)
valid (3479749, 6)

In [11]:
# df['sales'].fillna(0,inplace=True)
# df_valid['sales'].fillna(0,inplace=True)

In [6]:
df.isnull().sum()

ID                   0
geoCluster           0
SKU                  0
date                 0
price         25975058
sales                0
dtype: int64

**avg sales by shop**

create price dict

In [7]:
def calc_avg_price(df):
    #impute price as average by days before
    
    price_dict=df[~df.price.isnull()].copy()
    date_list=price_dict.sort_values('date').date.unique()
    
    df_res=pd.DataFrame()
    for ind_date,date_obs in enumerate(date_list):
        
        if ind_date%50==0:
            print('iter #',ind_date,date_obs)
        
        price_dict_filter=price_dict[price_dict.date<date_obs].copy()
        
        
        price_agr=price_dict_filter.groupby(['geoCluster','SKU']).price.mean().reset_index()
        price_agr['date']=date_obs
        df_res=df_res.append(price_agr)
        
    df_res['price'].fillna(0,inplace=True)
    
    return(df_res)

In [8]:
def imput_price_by_avg(df):
    
    price_dict=calc_avg_price(df)
    
    df_price_null=df[df.price.isnull()].drop(['price'],axis=1).copy()
    df=df[~df.price.isnull()]

    df_price_null=df_price_null.merge(price_dict,on=['geoCluster','SKU','date'],how='left')
    df_price_null['price'].fillna(0,inplace=True)

    df=df.append(df_price_null)
    
    df=df.sort_values(by=['date','geoCluster'])
    
    return (df)

In [9]:
def calc_avg_shop_rev(df):
    
    
    
    df['rev']=df['price']*df['sales']
    
    #total revenue by shop,date
    shop_sales_date=df.groupby(['geoCluster','date']).rev.sum().reset_index()
    shop_sales_date=shop_sales_date.sort_values(by=['date','geoCluster'])
    shop_sales_date.reset_index(drop=True,inplace=True)
    
    shop_sales_date_agr=pd.DataFrame()

    #calc exponential windows average
    for ind_shop,shop in enumerate( shop_sales_date.geoCluster.unique() ) :

        if ind_shop%50==0:
            print('iter #',ind_shop)

        shop_sales_date_temp=shop_sales_date[shop_sales_date.geoCluster==shop].copy()
        
        shop_sales_date_temp['shop_ewm_30']=shop_sales_date_temp.rev.rolling(window=60).mean()
        shop_sales_date_temp['shop_ewm_60']=shop_sales_date_temp.rev.rolling(window=90).mean()
        shop_sales_date_temp['shop_ewm_90']=shop_sales_date_temp.rev.rolling(window=120).mean()

        shop_sales_date_agr=shop_sales_date_agr.append(shop_sales_date_temp)
    
    return(shop_sales_date_agr)

**avg sales by shop**

**avg sales by SKU,shop**

In [9]:
# shop_sales_sku_date=df.groupby(['geoCluster','SKU', 'date']).rev.sum().reset_index()
# shop_sales_sku_date.head()

**day of week, month**

In [10]:
def transform_dweek(df):

    df['wkday']=df['date'].dt.dayofweek
    df['month_date']=df['date'].dt.month


    df['Monday'] = np.where(df['wkday']== 0, 1, 0)
    df['Tuesday'] = np.where(df['wkday']== 1, 1, 0)
    df['Wednesday'] = np.where(df['wkday']== 2, 1, 0)
    df['Thursday'] = np.where(df['wkday']== 3, 1, 0)
    df['Friday'] = np.where(df['wkday']== 4, 1, 0)
    df['Saturday'] = np.where(df['wkday']== 5, 1, 0)
    df['Sunday'] = np.where(df['wkday']== 6, 1, 0)


    df['Jan'] = np.where(df['month_date']== 1, 1, 0)
    df['Feb'] = np.where(df['month_date']== 2, 1, 0)
    df['Mar'] = np.where(df['month_date']== 3, 1, 0)
    df['Apr'] = np.where(df['month_date']== 4, 1, 0)
    df['May'] = np.where(df['month_date']== 5, 1, 0)
    df['Jun'] = np.where(df['month_date']== 6, 1, 0)
    df['Jul'] = np.where(df['month_date']== 7, 1, 0)
    df['Aug'] = np.where(df['month_date']== 8, 1, 0)
    df['Sep'] = np.where(df['month_date']== 9, 1, 0)
    df['Oct'] = np.where(df['month_date']== 10, 1, 0)
    df['Nov'] = np.where(df['month_date']== 11, 1, 0)
    df['Dec'] = np.where(df['month_date']== 12, 1, 0)

    return(df)

In [11]:
def transform_dataframe(df):
    
    
    df=imput_price_by_avg(df)
    
    
    shop_sales_date_agr=calc_avg_shop_rev(df)
    df=df.merge(shop_sales_date_agr.drop(['rev'],axis=1)  , on =['geoCluster','date'] , how='left')
    
    df=transform_dweek(df)
    
    #add city
    df=df.merge(df_geo, on=['geoCluster'])
    
    #add product category
    df=df.merge( df_sku[['SKU','productCategoryId','productTypeId']], on='SKU',how='left'  )
    
    
    return (df)

In [12]:
df=transform_dataframe(df)
df.head()

iter # 0 2020-01-03T00:00:00.000000000
iter # 50 2020-04-16T00:00:00.000000000
iter # 100 2020-06-05T00:00:00.000000000
iter # 150 2020-07-25T00:00:00.000000000
iter # 200 2020-09-13T00:00:00.000000000
iter # 250 2020-11-02T00:00:00.000000000
iter # 300 2020-12-22T00:00:00.000000000
iter # 350 2021-02-10T00:00:00.000000000
iter # 400 2021-04-01T00:00:00.000000000
iter # 450 2021-05-21T00:00:00.000000000
iter # 500 2021-07-10T00:00:00.000000000

C:\Users\dalap\Anaconda3\lib\site-packages\pandas\core\frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

iter # 0
iter # 50
iter # 100
iter # 150
iter # 200
iter # 250
iter # 300
iter # 350
iter # 400
iter # 450
iter # 500

,ID,SKU,date,geoCluster,price,sales,rev,shop_ewm_30,shop_ewm_60,shop_ewm_90,...,Jun,Jul,Aug,Sep,Oct,Nov,Dec,cityId,productCategoryId,productTypeId
0,RR31410732,808191,2020-01-01,1934,0.0,0.0,0.0,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,5922.0,400.0
1,RR31422526,844052,2020-01-01,1934,0.0,0.0,0.0,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,5922.0,400.0
2,RR31410733,808191,2020-01-02,1934,0.0,0.0,0.0,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,5922.0,400.0
3,RR31422527,844052,2020-01-02,1934,0.0,0.0,0.0,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,5922.0,400.0
4,RR31410734,808191,2020-01-03,1934,0.0,0.0,0.0,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,5922.0,400.0

In [13]:
print(df.shape)

(27956445, 34)

In [15]:
df.isnull().sum()/len(df)

ID                   0.000000
SKU                  0.000000
date                 0.000000
geoCluster           0.000000
price                0.000000
sales                0.000000
rev                  0.000000
shop_ewm_30          0.034899
shop_ewm_60          0.063873
shop_ewm_90          0.095860
wkday                0.000000
month_date           0.000000
Monday               0.000000
Tuesday              0.000000
Wednesday            0.000000
Thursday             0.000000
Friday               0.000000
Saturday             0.000000
Sunday               0.000000
Jan                  0.000000
Feb                  0.000000
Mar                  0.000000
Apr                  0.000000
May                  0.000000
Jun                  0.000000
Jul                  0.000000
Aug                  0.000000
Sep                  0.000000
Oct                  0.000000
Nov                  0.000000
Dec                  0.000000
cityId               0.000000
productCategoryId    0.000000
productTypeId        0.000000
dtype: float64

In [19]:
df.columns

Index(['ID', 'geoCluster', 'SKU', 'date', 'price', 'sales', 'rev',
       'shop_ewm_30', 'shop_ewm_60', 'shop_ewm_90', 'wkday', 'month_date',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday',
       'Sunday', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
       'Oct', 'Nov', 'Dec', 'cityId', 'productCategoryId', 'productTypeId'],
      dtype='object')

In [20]:
df.iloc[:1,:].dtypes

ID                           object
geoCluster                    int64
SKU                           int64
date                 datetime64[ns]
price                       float64
sales                       float64
rev                         float64
shop_ewm_30                 float64
shop_ewm_60                 float64
shop_ewm_90                 float64
wkday                         int64
month_date                    int64
Monday                        int64
Tuesday                       int64
Wednesday                     int64
Thursday                      int64
Friday                        int64
Saturday                      int64
Sunday                        int64
Jan                           int64
Feb                           int64
Mar                           int64
Apr                           int64
May                           int64
Jun                           int64
Jul                           int64
Aug                           int64
Sep                           int64
Oct                           int64
Nov                           int64
Dec                           int64
cityId                        int64
productCategoryId            object
productTypeId                object
dtype: object

In [21]:

#df[['geoCluster','SKU','cityId']]=df[['geoCluster','SKU','cityId']].apply(lambda x:x.astype(str))

In [ ]:
#df['geoCluster']=df['geoCluster'].astype(str)

In [22]:
# col_ind=np.where( df.iloc[:5,:].drop([ 'ID', 'date', 'price','sales', 'month_date', 'wkday','rev'],axis=1).dtypes==object)
# col_ind

(array([ 0,  1, 24, 25, 26]),)

In [23]:
df.columns

Index(['ID', 'geoCluster', 'SKU', 'date', 'price', 'sales', 'rev',
       'shop_ewm_30', 'shop_ewm_60', 'shop_ewm_90', 'wkday', 'month_date',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday',
       'Sunday', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
       'Oct', 'Nov', 'Dec', 'cityId', 'productCategoryId', 'productTypeId'],
      dtype='object')

In [24]:
df.iloc[:5,:].drop([ 'ID', 'date', 'price','sales', 'month_date', 'wkday','rev'],axis=1)

,geoCluster,SKU,shop_ewm_30,shop_ewm_60,shop_ewm_90,Monday,Tuesday,Wednesday,Thursday,Friday,...,Jun,Jul,Aug,Sep,Oct,Nov,Dec,cityId,productCategoryId,productTypeId
0,21,32485,34.960284,38.905272,42.497374,0,0,0,1,0,...,0,1,0,0,0,0,0,1,5381.0,4752.0
1,21,32485,32.674837,37.464691,41.275069,0,0,0,0,1,...,0,1,0,0,0,0,0,1,5381.0,4752.0
2,21,32485,30.540623,36.083310,40.095920,0,0,0,0,0,...,0,1,0,0,0,0,0,1,5381.0,4752.0
3,21,32485,28.547405,34.758276,38.957955,0,0,0,0,0,...,0,1,0,0,0,0,0,1,5381.0,4752.0
4,21,32485,26.685666,33.486901,37.859322,1,0,0,0,0,...,0,1,0,0,0,0,0,1,5381.0,4752.0

In [25]:
df.iloc[:5,:].drop([ 'ID', 'date', 'price','sales', 'month_date', 'wkday','rev'],axis=1).columns

Index(['geoCluster', 'SKU', 'shop_ewm_30', 'shop_ewm_60', 'shop_ewm_90',
       'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday',
       'Sunday', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
       'Oct', 'Nov', 'Dec', 'cityId', 'productCategoryId', 'productTypeId'],
      dtype='object')

In [27]:
df.shape

(27956445, 34)

**CREATE MODEL**

In [48]:
from catboost import CatBoostRegressor,Pool
import datetime

In [49]:
#train pool
t1=datetime.datetime.now()



train_data=Pool(
    df[df.date< pd.to_datetime('2021-05-19')].drop([ 'ID', 'date', 'price','sales', 'month_date', 'wkday','rev'],axis=1).values,
    df[df.date< pd.to_datetime('2021-05-19')].sales.values,
    cat_features=col_ind[0]
    )
t2=datetime.datetime.now()   
print(train_data.shape,'mln rows',train_data.shape[0]/1e+6)
print('total dur min:', (t2-t1).seconds/60  )

(21232547, 27) mln rows 21.232547
total dur min: 4.983333333333333

In [50]:
#valid pool
t1=datetime.datetime.now()

valid_data=Pool(
    df[df.date>= pd.to_datetime('2021-05-19')].drop([ 'ID', 'date', 'price','sales', 'month_date', 'wkday','rev'],axis=1).values,
    df[df.date>= pd.to_datetime('2021-05-19')].sales.values,
    cat_features=col_ind[0]
    )
t2=datetime.datetime.now()   
print(valid_data.shape,'mln rows',valid_data.shape[0]/1e+6)
print('total dur min:', (t2-t1).seconds/60  )

(6723898, 27) mln rows 6.723898
total dur min: 1.4333333333333333

**CHECK ON TRAIN/VALID**

In [61]:
model=CatBoostRegressor(eval_metric='MAE',metric_period=5,subsample=0.7,
                        iterations=100,
                       # early_stopping_rounds=20, 
                        use_best_model=False
                      )
model.fit(train_data,eval_set=valid_data)

Learning rate set to 0.5
0:	learn: 0.3787871	test: 0.3739982	best: 0.3739982 (0)	total: 10.4s	remaining: 17m 13s
5:	learn: 0.3285194	test: 0.3372100	best: 0.3372100 (5)	total: 41.2s	remaining: 10m 45s
10:	learn: 0.3233473	test: 0.3299318	best: 0.3299318 (10)	total: 52.7s	remaining: 7m 6s
15:	learn: 0.3220237	test: 0.3216129	best: 0.3216129 (15)	total: 1m 5s	remaining: 5m 45s
20:	learn: 0.3218754	test: 0.3253357	best: 0.3216129 (15)	total: 1m 17s	remaining: 4m 50s
25:	learn: 0.3210706	test: 0.3228373	best: 0.3216129 (15)	total: 1m 28s	remaining: 4m 10s
30:	learn: 0.3204257	test: 0.3239027	best: 0.3216129 (15)	total: 1m 39s	remaining: 3m 42s
35:	learn: 0.3202353	test: 0.3230512	best: 0.3216129 (15)	total: 1m 53s	remaining: 3m 21s
40:	learn: 0.3203947	test: 0.3230817	best: 0.3216129 (15)	total: 2m 4s	remaining: 2m 58s
45:	learn: 0.3203970	test: 0.3229685	best: 0.3216129 (15)	total: 2m 14s	remaining: 2m 37s
50:	learn: 0.3201293	test: 0.3209696	best: 0.3209696 (50)	total: 2m 24s	remaining: 2m 18s
55:	learn: 0.3200035	test: 0.3209404	best: 0.3209404 (55)	total: 2m 35s	remaining: 2m 2s
60:	learn: 0.3198771	test: 0.3189415	best: 0.3189415 (60)	total: 2m 46s	remaining: 1m 46s
65:	learn: 0.3190220	test: 0.3180323	best: 0.3180323 (65)	total: 2m 56s	remaining: 1m 31s
70:	learn: 0.3189491	test: 0.3189362	best: 0.3180323 (65)	total: 3m 6s	remaining: 1m 16s
75:	learn: 0.3187426	test: 0.3193921	best: 0.3180323 (65)	total: 3m 16s	remaining: 1m 2s
80:	learn: 0.3185497	test: 0.3201317	best: 0.3180323 (65)	total: 3m 26s	remaining: 48.4s
85:	learn: 0.3183475	test: 0.3195630	best: 0.3180323 (65)	total: 3m 37s	remaining: 35.4s
90:	learn: 0.3183031	test: 0.3200101	best: 0.3180323 (65)	total: 3m 50s	remaining: 22.8s
95:	learn: 0.3180884	test: 0.3200668	best: 0.3180323 (65)	total: 4m	remaining: 10s
99:	learn: 0.3178639	test: 0.3202283	best: 0.3180323 (65)	total: 4m 9s	remaining: 0us

bestTest = 0.3180323094
bestIteration = 65

In [56]:
df_imp=pd.DataFrame({'feature_importance': model.get_feature_importance(train_data), 
              'feature_names': df.iloc[:1,:].drop([ 'ID', 'date', 'price','sales', 'month_date', 'wkday','rev'],axis=1).columns}).sort_values('feature_importance',ascending=False)
df_imp.head(10)

    feature_importance      feature_names
1            33.127060                SKU
2            27.970332        shop_ewm_30
26           20.807678      productTypeId
25           16.328555  productCategoryId
0             1.161046         geoCluster
15            0.126177                Apr
4             0.124819        shop_ewm_90
22            0.115955                Nov
23            0.096298                Dec
3             0.078295        shop_ewm_60

FIT ON FULL

In [62]:
#train pool
t1=datetime.datetime.now()



train_data=Pool(
    df.drop([ 'ID', 'date', 'price','sales', 'month_date', 'wkday','rev'],axis=1).values,
    df.sales.values,
    cat_features=col_ind[0]
    )
t2=datetime.datetime.now()   
print(train_data.shape,'mln rows',train_data.shape[0]/1e+6)
print('total dur min:', (t2-t1).seconds/60  )

(27956445, 27) mln rows 27.956445
total dur min: 5.616666666666666

In [63]:
model_fin=CatBoostRegressor(eval_metric='MAE',metric_period=5,subsample=0.7,
                        iterations=100,
                       # early_stopping_rounds=20, 
                        use_best_model=False
                      )
model_fin.fit(train_data)

Learning rate set to 0.5
0:	learn: 0.3621204	total: 17.5s	remaining: 28m 57s
5:	learn: 0.3191432	total: 59.9s	remaining: 15m 38s
10:	learn: 0.3153917	total: 1m 21s	remaining: 10m 59s
15:	learn: 0.3147734	total: 1m 37s	remaining: 8m 29s
20:	learn: 0.3137499	total: 1m 53s	remaining: 7m 6s
25:	learn: 0.3136500	total: 2m 9s	remaining: 6m 7s
30:	learn: 0.3132085	total: 2m 23s	remaining: 5m 19s
35:	learn: 0.3130631	total: 2m 38s	remaining: 4m 41s
40:	learn: 0.3128779	total: 2m 52s	remaining: 4m 8s
45:	learn: 0.3128903	total: 3m 11s	remaining: 3m 45s
50:	learn: 0.3124008	total: 3m 26s	remaining: 3m 18s
55:	learn: 0.3122195	total: 3m 54s	remaining: 3m 4s
60:	learn: 0.3119248	total: 4m 9s	remaining: 2m 39s
65:	learn: 0.3121151	total: 4m 24s	remaining: 2m 16s
70:	learn: 0.3117107	total: 4m 38s	remaining: 1m 53s
75:	learn: 0.3116787	total: 4m 56s	remaining: 1m 33s
80:	learn: 0.3117789	total: 5m 11s	remaining: 1m 13s
85:	learn: 0.3117853	total: 5m 30s	remaining: 53.7s
90:	learn: 0.3115136	total: 5m 45s	remaining: 34.2s
95:	learn: 0.3111890	total: 6m	remaining: 15s
99:	learn: 0.3108803	total: 6m 12s	remaining: 0us

**PREDICT ON TEST**

In [37]:
df_test=pd.read_csv('test_data.csv')
df_test['date']=pd.to_datetime(df_test['date'])
df_test.head()

          ID  geoCluster    SKU       date  price
0  RR1666030          21  32485 2021-07-20  66.69
1  RR1666031          21  32485 2021-07-21  66.69
2  RR1666032          21  32485 2021-07-22  66.69
3  RR1666033          21  32485 2021-07-23  66.69
4  RR1666034          21  32485 2021-07-24  66.69

In [38]:
print([df_test.date.min(),df_test.date.max()])
print(df_test.shape)

[Timestamp('2021-07-20 00:00:00'), Timestamp('2021-08-02 00:00:00')]
(1666028, 5)

In [39]:
df_for_test=df[df.date>= pd.to_datetime('2021-04-01')][['ID','geoCluster','SKU','date','price','sales']].copy()

df_test['sales']=0
df_test=df_test.append(df_for_test)
df_test=transform_dataframe(df_test)

df_test=df_test[df_test.date>=pd.to_datetime('2021-07-20')]
df_test[['geoCluster','SKU','cityId']]=df_test[['geoCluster','SKU','cityId']].apply(lambda x:x.astype(str))
print(df_test.shape)
df_test.head()

iter # 0
iter # 50
iter # 100
iter # 150
iter # 200
iter # 250
iter # 300
iter # 350
iter # 400
iter # 450
iter # 500
iter # 550
iter # 600
iter # 650
iter # 700
iter # 750
iter # 800
iter # 850
iter # 900
iter # 950
iter # 1000
(1666028, 34)

,ID,geoCluster,SKU,date,price,sales,rev,shop_ewm_30,shop_ewm_60,shop_ewm_90,...,Jun,Jul,Aug,Sep,Oct,Nov,Dec,cityId,productCategoryId,productTypeId
0,RR1666030,21,32485,2021-07-20,66.69,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,1,5381.0,4752.0
1,RR1666031,21,32485,2021-07-21,66.69,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,1,5381.0,4752.0
2,RR1666032,21,32485,2021-07-22,66.69,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,1,5381.0,4752.0
3,RR1666033,21,32485,2021-07-23,66.69,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,1,5381.0,4752.0
4,RR1666034,21,32485,2021-07-24,66.69,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,1,5381.0,4752.0

In [46]:
print('is 1?-' , np.mean(df_test.iloc[:2,:].dtypes==df.iloc[:2,:].dtypes) )

is 1?- 1.0

In [65]:
df_test.shape

(1666028, 34)

In [68]:
df_test.isnull().sum()

ID                   0
geoCluster           0
SKU                  0
date                 0
price                0
sales                0
rev                  0
shop_ewm_30          0
shop_ewm_60          0
shop_ewm_90          0
wkday                0
month_date           0
Monday               0
Tuesday              0
Wednesday            0
Thursday             0
Friday               0
Saturday             0
Sunday               0
Jan                  0
Feb                  0
Mar                  0
Apr                  0
May                  0
Jun                  0
Jul                  0
Aug                  0
Sep                  0
Oct                  0
Nov                  0
Dec                  0
cityId               0
productCategoryId    0
productTypeId        0
dtype: int64

In [69]:
df_test.shape

(1666028, 34)

In [67]:
print('is True? -', df_test.shape[1]==df.shape[1])

is True? - True

In [70]:
#train pool
t1=datetime.datetime.now()



predict_data=Pool(
    df_test.drop([ 'ID', 'date', 'price','sales', 'month_date', 'wkday','rev'],axis=1).values,
    df_test.sales.values,
    cat_features=col_ind[0]
    )
t2=datetime.datetime.now()   
print(df_test.shape,'mln rows',df_test.shape[0]/1e+6)
print('total dur min:', (t2-t1).seconds/60  )

(1666028, 34) mln rows 1.666028
total dur min: 0.3

In [71]:
sales_predict=model_fin.predict(predict_data)

In [89]:
print('part of negative predict')
len(sales_predict[sales_predict<0])/len(sales_predict)

part of negative predict

0.4204437140312168

In [90]:
sales_predict[sales_predict<0]=0
print('part of negative predict')
len(sales_predict[sales_predict<0])/len(sales_predict)

part of negative predict

0.0

In [91]:
sales_predict[:100]

array([0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.1099116 ,
       0.1328374 , 0.14662421, 0.13922358, 0.14060048, 0.13449327,
       0.12663937, 0.1099116 , 0.1328374 , 0.14662421, 0.13922358,
       0.14060048, 0.1479451 , 0.1400912 , 0.1099116 , 0.1328374 ,
       0.14662421, 0.13922358, 0.14060048, 0.13449327, 0.12663937,
       0.1099116 , 0.1328374 , 0.14662421, 0.13922358, 0.14060048,
       0.1479451 , 0.1400912 , 0.1099116 , 0.1328374 , 0.14662421,
       0.13922358, 0.14060048, 0.13449327, 0.12663937, 0.1099116 ,
       0.1328374 , 0.14662421, 0.13922358, 0.14060048, 0.1479451 ,
       0.1400912 , 0.1099116 , 0.1328374 , 0.14662421, 0.13922358,
       0.14060048, 0.13449327, 0.12663937, 0.1099116 , 0.1328374 ,
       0.14662421, 0.13922358, 0.14060048, 0.1479451 , 0.1400912 ,
       0.1099116 , 0.1328374 , 0.14662421, 0.13922358, 0.14060048,
       0.13449327, 0.12663937, 0.1099116 , 0.1328374 , 0.14662421,
       0.13922358, 0.14060048, 0.1479451 , 0.1400912 , 0.30059215,
       0.33904122, 0.36095896, 0.35355832, 0.35493523, 0.34882801,
       0.33551146, 0.30059215, 0.33904122, 0.36095896, 0.35355832,
       0.35493523, 0.33601428, 0.32269773, 0.0167389 , 0.01708128])

**write to sample file**

In [96]:
df_sample=pd.read_csv('sample_final.csv',sep=',')
df_sample.head()

          ID  sales
0  RR1666030      0
1  RR1666031      0
2  RR1666032      0
3  RR1666033      0
4  RR1666034      0

In [97]:
np.mean(df_sample.ID.values==df_test.ID.values)

1.0

In [98]:
df_sample['sales']=sales_predict
df_sample.head()

          ID  sales
0  RR1666030    0.0
1  RR1666031    0.0
2  RR1666032    0.0
3  RR1666033    0.0
4  RR1666034    0.0

In [99]:
df_sample.sales.describe()

count    1.666028e+06
mean     4.201584e-02
std      1.205616e-01
min      0.000000e+00
25%      0.000000e+00
50%      6.646837e-03
75%      4.359941e-02
max      7.905415e+00
Name: sales, dtype: float64

In [100]:
df_sample.to_csv('catboost_sub.csv',sep=',',index=False)